<head>
	<title>SolveIt USA</title>
</head>

<body>
	<h3>Welcome to SolveIt USA!</h3>
	<p>Blah Blah Blah I'm talking blah blah</p>
	<p>I just can't stop talking because text rocks</p>
</body>

<p class="navbar-text pull-right">
<%= link_to t('forem.forum.forums'), forem.forums_path %>
<p></p>
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>